<div class="d-flex flex-column align-items-center">
<h1>Merchants</h1>
<%= form_tag(merchants_path, method: "GET") do -%>
<div class="container">
<div class="input-group py-3">
    <%= text_field_tag :filter, @search, class:"form-control", placeholder:"Merchant's name, phone, website" %>
    <%= submit_tag 'Filter', class:"btn btn-outline-secondary" %>
</div>
<% end -%>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Street</th>
      <th scope="col">Country</th>
      <th scope="col">Phone</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <% @merchant_addresses.each_with_index do |ma, index| %>
    <tr>
        <th scope="row"><%= index %></th>
        <td><%= ma.merchant.name.titleize%></td>
        <td><%= ma.address.country_city.city.name.titleize %></td>
        <td><%= ma.address.street.titleize %></td>
        <td><%= ma.address.country_city.country.code.upcase %></td>
        <td><%= ma.phone %></td>
        <td><%= link_to ma.website, ma.website if ma.website %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>